body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}
h1{
  text-align: center;
  text-decoration: underline;
}
body {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}